*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --BGCOLOR:#080b0f9d;
    --NAVCOLOR:antiquewhite;
    --TEXTCOLOR:black;
}
nav{
    background-color: var(--NAVCOLOR);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    width: 100vw;
    height: 50px;
    z-index: 1;
}
.navigation{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 20px;
}


a{
    text-decoration: none;
    color: var(--TEXTCOLOR);
    text-transform: capitalize;
    font-size: 2rem;
}
a:hover{
    color: red;
}
.logo{
    font-size: 2rem;
}
.Francis{
    color: rgb(253, 2, 199);
}
.Karani{
    color: rgb(255, 0, 43);
}
.overlay{
    background-image: linear-gradient(var(--BGCOLOR), var(--BGCOLOR)), url(./assets/karani.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    /* Optional: Add a slight delay if desired */
    animation-delay: 0.5s;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  .hi{
    text-align: center;
    color: white;
  }
  p .Francis{
    font-size: 4rem;
  }
.home p{
    color: var(--TEXTCOLOR);
    font-size: 2.5rem;
    font-weight: bold;
}

.about{
    display: flex;
    height: 100vh;
    align-items: center;
}
h1{
    padding-top: 70px;
    text-align: center;
    font-size: 2rem;
}
.info{
    background-color: var(--NAVCOLOR);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
}
.about p{
    font-size: 2rem;
    padding-top: 30px;
}
.services{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    height: 40vh;
    align-items: center;
    margin-top: 15%;
    

}

.Service{
    height: 100vh;
    align-items: center;
}
h2{
    text-align: center;
    font-size: 2rem;
}
h3{
    text-align: center;
    font-size: 1.5rem;
}
.offer{
    /* height: 60vh; */
    /* border: black solid 1px; */
    text-align: center;
    box-shadow: 10px 10px 25px;
    background-color: rgba(128, 128, 128, 0.171);
    align-items: center;
    height: 100%;
    text-align: center;
}

#project {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);   
    gap: 20px; 
    padding: 20px;
    
  }
  
  .proj {
    background-color: rgba(128, 128, 128, 0.082);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.466);
    text-align: center;
  }
  
  .proj img {
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: block;
    width: 100%;
    border-radius: 10px;
  }
  
  .proj:hover img {
    transform: scale(1.05);
    opacity: 0.9;
  }
  
  .formfield{
    height: 60vh;
    text-align: center;
    background-color: antiquewhite;
  }
  .textme{
    background-color: rgb(245, 9, 233);
    width: 40vw;
    margin-left: 30%;
    height: 90%;
    box-shadow: 10px 10px 25px;
    margin-top: 30px;
  }
  label{
    font-size: 1.6rem;
  }
  .inputfield{
    height: 50px;
    margin-bottom: 10px;
  }
  input{
    height: 50px;
    font-size: 1.5rem;
    border: none;
  }
  textarea{
    width: 70%;
    height: 10vh;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 10px;
  }
  button{
    text-align: center;
    width: 50%;
    height: 75%;
    background-color: red;
    cursor: pointer;
}
/* responsiveness */
/* large screens */
@media screen and (min-width: 1800px) {
nav{
  height: 70px;
}
nav p{
  align-items: center;

}
.info p{
  font-size: 2.5rem;
}
.info img{
  height: 450px;
}
.info{
  gap: 30px;
}
.offer p{
  font-size: 1.5rem;
}
h3{
  font-size:2.5rem;
}
  
}

 